[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
self = "*"
pypdf2 = "*"
openpyxl = "*"
pandas = "*"
xlrd = "*"
chardet = "*"
paramiko = "*"
pyside2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
